* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin: 1em, auto;
    
}


body{
    border:7px rebeccapurple;
    border-style: double;
    width: 90%;
    margin: 1em auto;
}
html {
    background-color: aliceblue;
}
main {
    padding: 1em;
}
footer {
    border: 1px rebeccapurple;
    border-style: double;
    text-align: center;
    margin-top: 0.3em;
    padding : 0.5em;
    color: rebeccapurple;
    font-size: 90%;

}
img {
    float: left;
    padding: 1em;
}
h2 {
    padding: 0.1em;
    margin: 0.5em 0;
    font-size: 125%;
}
ul li {
    padding-left: 1em;
}
h2 {
    padding-left: .70em;
}
ul {
    padding-left: 30px;
    

}
#p1 {
    margin-bottom: 0.5em;
}
blockquote {
    padding-left: .80em;
}
#pq1 {
    padding-left: .80em;
}
#pq2 {
    padding-left: .80em;
}
h1 {
    font-size: 150%;
    color: rebeccapurple;
    padding: 0.7em;
}
h3 {
    font-size: 115%;
    padding-left: 0.70em;;
}