* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 90%;
    margin: 1em, auto;
border-style: double;
border-color:rebeccapurple;
}
html {
    background-color: aliceblue;
}
main {
    padding: 1em;
}